
.navbar{
	background-color: #5d5d5d;
}

.navbar-brand{
	color:white;
}

.nav-link{
	color: white;
}

.nav-item .active{
	color:white;
}

.nav-item{
	color: silver;
}

.nav-link:hover{
	color:silver;
}

.btn.btn-primary {
    margin-right: 10px;
    background-color: #21427d;
    border-color: #21427d;
    width: 100%;
}

.btn.btn-primary:hover {
	background-color: #2142Ad;
	color:silver;
}

.jumbotron-fluid {
	padding-bottom: 2%;
	padding-top: 2%;
}


.col-sm-12 {
    margin-bottom: 10px;
}


p#mainDownload a {
    font-size: 1.3em;
}

img {
    width: 100%;
}

h2 {
    padding-left: 2.5%;
    font-size: 2.5em;
    margin-bottom: 30px;
}

h3{
	padding-left: 5%;
    margin-bottom: 30px;
}

.section-text {
    padding-left: 5%;
}


p.commands {
    padding-left: 7.5%;
    color: #2142Ad;
    font-weight: bold;
}

b {
    color: #28a745;
    font-size: 1.1em;
}

.col-4.opt {
    text-align: right;
}


span.trouble {
    font-size: 1.7em;
    display: block;
    margin-bottom: 21px;
}

a.home {
    text-decoration: none;
    color: black;
}

ul.contact {
    padding-left: 15px;
    list-style: none;
}

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {  



}


// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  



}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  

	
	
}